<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user[1]}}</h1>
    <input type="button" value="Create Event" onclick="location.href='/create_event'">
    <input type="button" value="View All Events" onclick="location.href='/show_events'">
    <input type="button" value="Logout" onclick="location.href='/logout'">
    <input type="button" value="Show Submissions" onclick="location.href='/show_submissions'">
</body>
</html>