<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
</head>
<body>
    <form action="/create_event" method="post">
    <input type="text" name="event_title" placeholder="Enter event title">
    <input type="text" name="event_description" placeholder="Enter event description">
    <input type="date" name="event_start_date" placeholder="Enter event start date">
    <input type="date" name="event_end_date" placeholder="Enter event end date">
    <input type="text" name="event_location" placeholder="Enter event location">
    <input type="text" name="event_theme" placeholder="Enter event theme">
    <input type="submit" value="Create Event">
    </form>
</body>
</html>