<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submission_form" method="post">
        <input type="hidden" name="event_id" value="{{ event_id }}">
       <input type="text" name="titre"  placeholder="Your proposal title">
      <input type="text" name="resume" placeholder="Write a short resume"> 
      <input type="text" name="type"  placeholder="Indicate the type of your proposal">
      <input type="submit" value="Submit Proposal">
    </form>
</body>
</html>