<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>

<body>
    <h1>Welcome {{username}} !</h1>
  <h2>User Information</h2>

    <div class="card">
      <p><span>Name:</span> {{ username }}</p>
      <p><span>Email:</span> {{ email }}</p>
      <h3>Scann the Code to ask a question </h3>
      <div id="qrcode"></div>
<script type="text/javascript">
new QRCode(document.getElementById("qrcode"), "http://192.168.1.11:5000/question?eid=1");
</script>
      <p><span>DOB:</span> {{ dateofbirth }}</p>
      <p><span>Role:</span> {{ role }}</p>
      <input type="button" value="Create Event" onclick="location.href='/create_event'">
    </div>
 
    <input type="button" value="Logout" onclick="location.href='/logout'">
 
</body>
</html>